<div class="media" id="root-comment-<%= comment.id %>">
  <a class="media-left">
    <%= image_tag get_avatar(comment.user), class:"image_cm" %>
  </a>
  <div class="media-body" id="comment-<%= comment.id %>">
    <span class="media-heading">
      <small data-toogle="tooltip" title="<%= l comment.created_at, format: :own %>">
        <%= raw t ".commented", user: comment.user.name, time: time_ago_in_words(comment.created_at) %>
      </small>
    </span>
    <div id="content-<%= comment.id %>">
      <p><%= comment.content.gsub(/\n/, '<br/>').html_safe %></p>
      <% if !comment.parent? and comment.content.lines.count == 1 and comment.user != current_user %>
      <br>
      <% end %>
    </div>
    <% if comment.parent? and user_signed_in? %>
      <%= link_to new_reply_comment_path(comment), remote: true, id:"comment-#{comment.id}", class: "btn btn-success btn-xs"  do %>
              <i class="fa fa-reply data-toogle="tooltip"
            title="<%= t '.reply' %>""></i>
      <% end %>
    <% end %>

    <% if comment.user == current_user %>
      <%= link_to edit_comment_path(comment), remote: true, class: "btn btn-primary btn-xs" do %>
       <i class="fa fa-pencil data-toogle="tooltip"
            title="<%= t '.edit' %>""></i>
      <% end %>
      <%= link_to comment, method: :delete, data: {confirm: t(".confirm")}, remote: true, class: "btn btn-danger btn-xs"  do %>
        <i class="fa fa-trash-o data-toogle="tooltip" title="<%= t '.delete' %>""></i>
        <% end %>
    <% end %>
    <hr>
    <%= render comment.replies if comment.replies.any? %>
  </div>
</div>
