<div class="well" id ="reply-form-<%= @comment.new_reply.parent_id %>">
  <%= form_for @comment.new_reply, remote: true do |f| %>
    <%= f.hidden_field :task_id %>
    <%= f.hidden_field :parent_id %>

    <div class="form-group">
      <div class="row">
        <div class="col-md-10">
         <%= f.text_area :content, class: "form-control", rows: 4,
            id:"content-#{@comment.new_reply.parent_id}" %>
        </div>
        <div class="col-md-2" style="padding: 15px">
          <%= f.submit t(".submit"), class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
