<div class="content-wrapper">
  <h3><%= t ".my_courses" %></h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t ".course" %></th>
        <th><%= t ".members" %></th>
        <th><%= t ".view_progress" %></th>
      </tr>
    </thead>
    <tbody>
      <% @my_courses.each do |mycourse| %>
        <tr>
          <td><%= mycourse.name %></td>
          <td>
            <%= link_to t(".course_members"), trainee_path(mycourse.id) %>
          </td>
          <td>
            <%= link_to t(".my_progress"), trainee_course_path(mycourse.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
