<div class="well">
  <%= form_for @comment, remote: true do |f| %>
    <%= f.hidden_field :task_id %>
    <%= f.hidden_field :user_id %>
    <div class="field form-group">
      <%= f.text_area :content, class:"form-control", id:"content",
      rows: Settings.comment.rows %>
      <div align="right" class="error-messages-devise">
        <%= @comment.errors.full_messages_for(:content).first %>
      </div>
    </div>
    <%= f.submit t(".submit"), class:"btn btn-primary actions" %>
  <% end %>
</div>
