
  <div class="row learn">
    <div class="col-md-6">
      <h3><%= @task.name %></h3>
      <p><%= @task.description %></p>
      <p><%= @task.content %></p>
      <iframe width="820" height="620" frameborder="0" src="https://www.youtube.com/embed/gZtZnZy9QXg"></iframe>
      <% if TraineeTask.find_by(trainee_id: current_user.id, task_id: @task.id) != nil %>
        <% unless TraineeTask.find_by(trainee_id: current_user.id, task_id: @task.id).finish? %>
          <%= link_to t(".finish"), task_path(@task.id), method: :put, class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h3><%= "Hoi Dap" %></h3>
      <%= render "comment_form" %>
      <br/>
      <div class="comment"></div>
      <%= render @comments %>
    </div>
  </div>
