<% provide :title, t(".learn_task") %>

<div class="row learn">
    <div class="col-md-6">
      <h3><%= @task.name %></h3>
      <p><%= @task.description %></p>
    </div>
    <div class="col-md-6">
      <% if @task.video.present? %>
      <%= cl_video_tag("ihek1z5wc7hrvmsb3wsa.mp4", height: '700', width: '800', controls: true, crop: "fit") %>
      <% else %>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/gZtZnZy9QXg"></iframe>
      </div>
      <% end %>
      <% if TraineeTask.find_by(trainee_id: current_user.id, task_id: @task.id) != nil %>
        <% unless TraineeTask.find_by(trainee_id: current_user.id, task_id: @task.id).finish? %>
          <%= link_to t(".finish"), task_path(@task.id), method: :put, class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
</div>
<div class="col-md-6">
  <h3><%= t ".discussion" %></h3>
  <%= render "comment_form" %>
  <br/>
  <div id="comment"></div>
  <%= render @comments %>
</div>
