<% provide :title, t(".title") %>

<div class="content-wrapper">
  <h3 class="panel-title"> <%= t ".title" %></h3>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th><%= t ".exam" %></th>
        <th><%= t ".subject" %></th>
        <th><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @exams.each_with_index do |course, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= course.title %>
          </td>
          <td><%= course.subject.name %>
          </td>
          <td>
            <%= link_to supervisor_exam_path(course) do %>
             <i class="fa fa-leanpub" data-toogle="tooltip"
                title="<%= t '.show' %>"></i>
            <% end %>&nbsp;&nbsp;
            <%= link_to supervisor_exam_path(course), method: :delete,
              data: {confirm: t(".confirm")} do %>
             <i class="fa fa-trash" data-toogle="tooltip"
                title="<%= t '.delete' %>"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
