<% provide :title, t(".title", title: @exam.title) %>
<div class="content-wrapper">
  <div class="col-md-12">
    <h3><strong><%= t ".do_exam", title: @exam.title %></strong></h3>
    <br>
    <center>
    <%= t ".open_exam" %> <%= l @exam.created_at, format: :time_test %><br>
    <%= t ".time_exam" %><br>
    <%= t ".grading" %><br>
    </center>
  </div>
<br>
  <table class="table">
    <thead>
      <tr class="d-flex">
        <th class="col-3"><%= t ".user_name" %></th>
        <th class="col-3"><%= t ".last_time" %></th>
        <th class="col-3"><%= t ".score" %></th>
        <th class="col-2"><%= t ".view" %></th>
      </tr>
    </thead>
    <tbody>
      <% @trainee_on_tests.each_with_index do |user|%>
          <tr class="d-flex">
            <td class="col-3"><%= user.user.name %></td>
            <td class="col-3"><%= l user.user.tests.where(exam_id: @exam.id)
            .order(created_at: :desc).first.created_at, format: :time_test %></td>
            <td class="col-3"><%= Test.where(user_id: user.trainee_id, exam_id: @exam.id).average(:score) %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
