<% provide :title, t(".title", title: @exam.title) %>
<div class="content-wrapper">
  <h3 class="panel-title"> <%= t ".title", title: @exam.title %></h3>
  <div class="row">
    <div class="col-md-6" id="paginator">
    </div>
    <div class="col-md-6 text-right new-object">
      <%= link_to new_supervisor_exam_question_path(@exam), remote: true, class: 'btn btn-primary' do %>
        <i class="fa fa-plus"></i>&nbsp;<%= t ".add_question" %>
      <% end %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="d-flex">
        <th class="col-1"></th>
        <th class="col-9"><%= t ".content" %></th>
        <th class="col-2"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each_with_index do |question, index| %>
        <tr class="d-flex">
          <td class="col-1"><%= index + 1 %></td>
          <td class="col-9"><%= question.content %>
          </td>
          <td class="col-2">
            <%= link_to supervisor_exam_question_path(@exam), remote: true do %>
             <i class="fa fa-leanpub" data-toogle="tooltip"
                title="<%= t '.show' %>"></i>
            <% end %>&nbsp;

            <%= link_to edit_supervisor_exam_question_path(@exam, question), remote: true do %>
             <i class="fa fa-edit" data-toogle="tooltip"
                title="<%= t '.edit' %>"></i>
            <% end %>&nbsp;

            <%= link_to supervisor_exam_question_path(@exam, question),
              method: :delete, data: {confirm: t("supervisor.exams.show.confirm")} do %>
             <i class="fa fa-trash" data-toogle="tooltip"
                title="<%= t '.delete' %>"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render "do_test" %>
</div>
