<% provide :title, t(".title", course: @course.name)%>

<div class="content-wrapper">
  <div class="row">
    <div class="course-card col-md-9">
      <strong><h3><%= @course.name %></h3></strong>
      <%= training_time(@course) %>
      <% @subjects.each do |subject| %>
        <div class="card subject-card">
          <div class="subject-title"><%= subject.name %></div>
          <% subject.tasks.each do |task| %>
            <div class="task-card row">
              <div class="col-md-11">
                <i class="fa fa fa-leanpub" style="color: blue">
                </i>&nbsp;
                <%= link_to task.name, task_path(task), class: "task-name" %>
              </div>
            </div>
          <% end %>
          <% subject.exams.each do |exam| %>
            <div class="task-card row">
              <div class="col-md-11">
                <i class="fa fa-file-text" style="color: blue"></i>&nbsp;
                <%= link_to exam.title, exam_details_path(exam) %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <h5 class="panel-title">
        <strong><%= t ".memberss" %></strong>
      </h5>
      <% @course.users.where.not(role: 2).order(role: :desc).each do |supervisor| %>
        <div><%= link_to supervisor.name, user_path(supervisor) %><br></div>
      <% end %>
    </div>
  </div>
</div>
