<div class="row form-group">
  <div class="col-md-2">
    <%= course.label :name, t(".name"), class: "required" %>
  </div>
  <div class="col-md-10">
    <%= course.text_field :name, required: true, class: "form-control" %>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-2">
    <%= course.label :description, t(".description"), class: "required" %>
  </div>
  <div class="col-md-10">
    <%= course.text_area :description, required: true, class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= course.label :from, class: "required" %>
    <%= course.date_field :start_time, required: true, class:"datepicker form-control" %>
  </div>
  <div class="col-md-6">
    <%= course.label :to, class: "required" %>
    <%= course.date_field :end_time, required: true, class:"datepicker form-control" %>
  </div>
</div>

<div class="row">
  <div class="fix-bot-pic upload-pic pic-profile col-md-6">
      <%= course.fields_for :image_attributes do |image_f| %>
      <%= image_f.file_field :image_url, accept: "image/jpeg,image/gif,image/png",
      autofocus: true, class: "input-file previewIMG" %>
      <%= image_f.hidden_field :imageable_id, value: course %>
      <%= image_f.hidden_field :imageable_type, value: "image" %>
    <% end %>
    <label tabindex="0" class="input-file-trigger"> <%= t ".avatar" %>
      <i class="fa fa-camera"></i>
    </label>
  </div>
</div>
