<div class="form-group">
  <%= f.label :name, t(".name"), class: "required" %>
  <%= f.text_field :name, required: true, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :description, t(".description"), class: "required" %>
  <%= f.text_area :description, required: true, class: "form-control" %>
</div>

<div class="form-group">
    <%= f.label :start_time, t(".start_time"), class: "required" %>
    <%= f.date_field :start_time, required: true, class:"datepicker form-control" %>
    <div align="right" class="error-messages-devise" >
      <%= @course.errors.full_messages_for(:start_time).first %>
    </div>
</div>

<div class="form-group">
    <%= f.label :end_time, t(".end_time"), class: "required" %>
    <%= f.date_field :end_time, required: true, class:"datepicker form-control" %>
    <div align="right" class="error-messages-devise" >
      <%= @course.errors.full_messages_for(:end_time).first %>
    </div>
</div>

<div class="field form-group">
  <div class="fix-bot-pic upload-pic pic-profile">
    <%= f.hidden_field :avatar_cache %>
    <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png",
      autofocus: true, class: "input-file previewIMG" %>
    <label tabindex="0" class="input-file-trigger"> <%= t ".avatar" %>
      <i class="fa fa-camera"></i>
    </label>
  </div>
  <%= image_tag get_image(@course), class: "preview-img", size: "200x180" %>
  <div align="right" class="error-messages-devise" >
    <%= @course.errors.full_messages_for(:avatar).first %>
  </div>
</div>
