<div class="row form-group">
  <div class="col-md-2">
    <%= course.label :name, t(".name"), class: "required" %>
  </div>
  <div class="col-md-10">
    <%= course.text_field :name, required: true, class: "form-control" %>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-2">
    <%= course.label :description, t(".description"), class: "required" %>
  </div>
  <div class="col-md-10">
    <%= course.text_area :description, required: true, class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= course.label :from, class: "required" %>
    <%= course.date_field :start_time, required: true, class:"datepicker form-control" %>
    <div align="right" class="error-messages-devise" >
      <%= @course.errors.full_messages_for(:start_time).first %>
    </div>
  </div>
  <div class="col-md-6">
    <%= course.label :to, class: "required" %>
    <%= course.date_field :end_time, required: true, class:"datepicker form-control" %>
    <div align="right" class="error-messages-devise" >
      <%= @course.errors.full_messages_for(:end_time).first %>
    </div>
  </div>
</div><br>
<div class="field form-group">
  <div class="fix-bot-pic upload-pic pic-profile">
    <%= course.hidden_field :avatar_cache %>
    <%= course.file_field :avatar, accept: "image/jpeg,image/gif,image/png",
      autofocus: true, class: "input-file previewIMG" %>
    <label tabindex="0" class="input-file-trigger"> <%= t ".avatar" %>
      <i class="fa fa-camera"></i>
    </label>
  </div>
  <%= image_tag get_image(@course), class: "image_course preview-img" %>
  <div align="right" class="error-messages-devise" >
    <%= @course.errors.full_messages_for(:avatar).first %>
  </div>
</div>
