<div class="nested-fields subject">
  <p>
    <div class="row">
      <div class="col-md-2">
        <%= f.label :name, t(".subject"), class:"required" %>&nbsp;
        <%= link_to_remove_association f, data: {confirm: t(".confirm_delete")} do %>
          <i class="fa fa-trash" data-toogle="tooltip" title="<%= t '.del_title' %>"></i>
        <% end %>
      </div>
      <div class="col-md-10">
        <%= f.text_field :name, class: "form-group form-control", required: true %>
      </div>
      <div class="col-md-2">
        <%= f.label :description, t(".description"), class:"required" %>
      </div>
      <div class="col-md-10">
        <%= f.text_area :description, class: "form-group form-control", required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :from, class: "required" %>
        <%= f.date_field :start_time, required: true, class:"datepicker form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :to, class: "required" %>
        <%= f.date_field :end_time, required: true, class:"datepicker form-control" %>
      </div>
    </div>
  </p>
  <%= f.fields_for :tasks do |task| %>
    <%= render "task_fields", f: task %>
  <% end %>
  <p>
    <%= link_to_add_association f, :tasks, class:"btn btn-success form-group" do %>
      <i class="fa fa-plus"></i>&nbsp;<%= t ".add_task" %>
    <% end %>
  </p>
</div>
