<div class="nested-fields task">
  <div class="row">
    <div class="col-md-2">
      <%= f.label :name, t(".task"), class:"required" %>
      <%= link_to_remove_association f, data: {confirm: t(".confirm_delete")} do %>
        <i class="fa fa-trash" data-toogle="tooltip"
          title="<%= t '.del_title' %>"></i>
      <% end %>
    </div>
    <div class="col-md-10">
      <%= f.text_field :name, class: "form-group form-control", required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :description, class:"required" %>
    </div>
    <div class="col-md-10">
      <%= f.text_area :description, class: "form-group form-control", required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :content, t(".content_task"), class:"required" %>
    </div>
    <div class="col-md-10">
      <%= f.cktext_area :content, class: "form-group form-control", required: true, rows: Settings.comment.rows %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
      <%= f.label :video, t(".video") %>
    </div>
    <div class="col-md-10">
    <%= f.hidden_field :video_cache %>
    <%= f.file_field :video, accept: "video/mp4,video/mkv,video/avi" %>
    </div>
  </div>
</div>
