<% provide :title, t(".title") %>
<nav class="content-wrapper">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-course-tab" data-toggle="tab"
      href="#nav-course" role="tab">
      <%= t ".create_course" %></a>
    <a class="nav-item nav-link" id="nav-member-tab" data-toggle="tab"
      href="#nav-member" role="tab"><%= t ".member" %></a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-course">
    <div class="content-wrapper">
      <%= form_for [:supervisor, @course] do |f| %>
        <div class="row justify-content-center">
          <div class="login-form col-md-6">
            <%= render "form_course", f: f %>
            <div class="actions form-group">
              <%= f.submit t(".edit"), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="nav-member">
    <div class="content-wrapper">
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <h3 style="margin-top:10px"><%= t ".supervisors" %></h3>
          <div id="paginator">
            <%= paginate @supervisors, remote: true, theme: "twitter-bootstrap-4" %>
          </div>
          <table class="table">
           <thead>
             <tr>
               <th><%= t".name" %></th>
               <th><%= t".email" %></th>
               <th><%= t".option" %></th>
             </tr>
           </thead>
           <tbody id="supervisors">
             <%= render partial: "manage_supervisor", collection: @supervisors, as: :supervisor %>
           </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <h3 style="margin-top:10px"><%= t ".trainees" %></h3>
          <div>
            <%= paginate @trainees, remote: true, theme: "twitter-bootstrap-4" %>
          </div>
          <table class="table">
             <thead>
               <tr>
                 <th><%= t".name" %></th>
                 <th><%= t".email" %></th>
                 <th><%= t".option" %></th>
               </tr>
             </thead>
             <tbody id="trainees">
               <%= render partial: "manage_trainee", collection: @trainees, as: :trainee %>
             </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
