<div class="content-wrapper">
  <div class="col-md-12">
    <h3><strong><%= t ".course_detail" %>: <%= @course.name %></strong></h3>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-12">
        <p><%= training_time @course %> <%= @course.description %></p>
      </div>
      <% @course.subjects.each do |subject| %>
        <div class="card subject-card">
          <div class="row subject-title">
            <div class="col-md-3">
              <%= subject.name %>
            </div>
            <div class="col-md-9 text-right">
                <%= link_to new_supervisor_course_subject_path(@course) do %>
                  <i class="fa fa-plus" data-toogle="tooltip"
                    title="add_subject"></i>
                <% end %>&nbsp;&nbsp;
                <%= link_to edit_supervisor_course_subject_path(@course, subject) do %>
                  <i class="fa fa-edit" data-toogle="tooltip"
                    title="edit_subject"></i>
                <% end %>&nbsp;&nbsp;
                <%= link_to supervisor_course_subject_path(@course, subject),
                  data: {confirm: t(".confirm")}, method: :delete do %>
                  <i class="fa fa-trash" data-toogle="tooltip"
                    title="del_subject"></i>
                <% end %>
            </div>
          </div>
          <% subject.tasks.each do |task| %>
            <div class="task-card row">
              <div class="col-md-11">
                <i class="fa fa fa-leanpub" style="color: blue">
                </i>&nbsp;
                <%= link_to task.name, task_path(task.id), class: "task-name" %>
              </div>
              <div class="float-right">
                <% if current_user.trainee? && check_status_task(current_user, task.id).finish? %>
                Done
                <% end %>
              </div>
            </div>
          <% end %>
          <% subject.exams.each do |exam| %>
            <div class="task-card row">
              <div class="col-md-11">
                <i class="fa fa-file-text" style="color: blue">
                </i>&nbsp;
                <%= exam.title %>
              </div>
            </div>
          <% end %>
          <div class="task-card row">
            <div class="col-md-11">
              <%= link_to new_supervisor_exam_path(subject_id: subject.id), remote: true do %>
                <i class="fa fa-plus"></i>&nbsp;<%= t ".exam" %>
              <% end %>&nbsp;&nbsp;
              <%= link_to new_supervisor_course_subject_task_path(@course, subject) do %>
                <i class="fa fa-plus"></i>&nbsp;<%= t ".task" %>
              <% end %>
          </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <h5 class="panel-title">
        <strong><%= t ".suppervisor_course" %></strong>
        <span class="badge"><%= @supervisors.size %></span>
      </h5>
      <% @supervisors.each do |supervisor| %>
        <div>
          <%= link_to supervisor.name, user_path(supervisor) %>
        </div>
      <% end %>
      <br>
      <h5 class="panel-title">
        <strong><%= t ".trainee_course" %></strong>
        <span class="badge"><%= @trainees.size %></span>
      </h5>
      <% @trainees.each do |trainee| %>
       <div>
          <%= link_to trainee.name, user_path(trainee) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
