<div class="content-wrapper">
  <div class="col-md-12">
    <h3><strong><%= t ".course_detail" %>: <%= @course.name %></strong></h3>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="col-md-4">
        <p><%= training_time @course %></p>
        <p><%= @course.description %></p>
      </div>
    <% @course.subjects.each do |subject| %>
      <div class="card subject-card">
        <div class="subject-title">
          <%= subject.name %>
        </div>
        <% subject.tasks.each do |task| %>
          <div class="task-card row">
            <div class="col-md-11">
              <i class="fa fa fa-leanpub" style="color: blue">
              </i>&nbsp;
              <%= link_to task.name, task_path(task.id), class: "task-name" %>
            </div>
            <div class="float-right">
              <% if current_user.trainee? && check_status_task(current_user, task.id).finish? %>
              Done
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    </div>

    <div class="col-md-3">
      <h5 class="panel-title">
        <strong><%= t ".suppervisor_course" %></strong>
        <span class="badge"><%= @supervisors.size %></span>
      </h5>

      <% @supervisors.each do |supervisor| %>
        <div>
          <%= link_to supervisor.name, user_path(supervisor) %>
        </div>
      <% end %>
      <br>
      <h5 class="panel-title">
        <strong><%= t ".trainee_course" %></strong>
        <span class="badge"><%= @trainees.size %></span>
      </h5>

      <% @trainees.each do |trainee| %>
       <div>
          <%= link_to trainee.name, user_path(trainee) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
