<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <h3><strong><%= @course.name %></strong></h3>
      <p><%= training_time(@course) %></p>
    </div>
    <div class="row col-md-12">
      <% @course.subjects.each_with_index do |subject, index| %>
        <div class="col-md-6">
          <strong><%= index + 1 %>:&nbsp;<%= subject.name %></strong>
          <div class="progress">
            <div class="progress-bar" id="progress_subject_<%= index %>"
              role="progressbar" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
          <div>
            <label><%= t ".description" %>: <%= subject.description %></label>
          </div>
        </div>
        <%= render partial: "supervisor/courses/task_exam_progress", locals:{trainee: @user, subject: subject} %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_tag render partial: "supervisor/courses/progress", locals:{trainee: @user} , formats: :js %>
