<%= provide :title, t(".title") %>

<h2 class="text-center"><%= t ".all_members" %></h2>
<div class="content-wrapper">
  <%= paginate @members, theme: "twitter-bootstrap-4" %>
  <div class="row all-member">
    <% @members.each do |member| %>
      <div class="col-md-4 each-member">
        <div class="avatar">
          <%= image_tag get_avatar(member), class:"avatar" %>
        </div>
        <div class="info-member">
          <h3><%= member.name %></h3>
          <p><%= member.email %></p>
          <%= link_to t(".view"), trainee_user_path(member.id), class:"btn pull-left bt-view" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
