<%= provide :title, @user.name %>

<div class="profile">
  <div class="content-wrapper container-profile">
    <div class="info-profile">
      <%= image_tag get_avatar(@user), class:"avatar-profile" %>
      <div class="justify-content-center">
        <h3><%= @user.name %></h3>
        <p><%= @user.email %></p>
        <p><%= @user.address %></p>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper detail-profile">
  <div class="profile-left">
    <div class="course-completed">
      <div class="count-course"><%= @my_courses.count %></div>
      <div class="title-completed-course"><%= t ".completed_course" %></div>
    </div>
  </div>
  <div class="profile-right">
    <div class="count-subject-course">
      <div class="quantity-subject"><%= @my_courses.count %></div>
      <div class="title-subject"><%= t ".quantity_subject" %></div>
    </div>
  </div>
</div>

<div class="row content-wrapper" id="info-course">
  <%= render partial: "course_trainee", collection: @my_courses, as: :course %>
</div>
