<div class="container">
  <h3><%= t ".forgot_password" %></h3>
  <div class="row justify-content-center">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.email_field :email %>
      </div>
      <div class="actions form-group">
        <%= f.submit t(".send_instructions"), class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
