<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel"><%= t ".add_question" %></h4>
  <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
</div>
<%= form_for [:supervisor, @exam, @question] do |f| %>
  <div class="modal-body">
    <div>
      <div class="form-group">
        <%= f.label :content, t(".content"), class: "required" %>
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <div align="right" class="error-messages-devise" >
        <%= @question.errors.full_messages_for(:content).first %>
      </div>
    </div>
    <%= f.fields_for :answers do |answer| %>
      <div class="nested-fields answer">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group field">
              <%= answer.label :content, t(".answer") %>
              <%= answer.text_field :content, id: :content, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group field">
              <%= answer.label :is_correct, t(".answer_type") %>
              <br/>
              <%= answer.select :is_correct, [[t(".incorrect"), false],[t(".correct"), true]], {}, class: "form-control"%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <div class="actions form-group">
      <%= f.submit t(".create"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
