<tr>
  <td><%= link_to user.name, trainee_user_path(user),
    class: "text-dark" %></td>
  <td><p><%= user.email %></p></td>
  <td><p><%= user.address %></p></td>
  <td><i class="fa fa-phone" ></i>&nbsp;<%= user.phone %></td>
  <td><%= user.created_at.strftime("%d-%m-%Y") %></td>
    <% if current_user.supervisor? %>
    <td>
      <%= link_to supervisor_user_path(user), method: :delete,
        data: {confirm: t(".confirm")} do %>
        <i class="fa fa-trash-o"></i>&nbsp;<%= t(".delete") %>
      <% end %>
      <%= link_to edit_supervisor_user_path(user) do %>
        <i class="fa fa-pencil-square-o"></i>&nbsp;<%= t(".edit") %>
      <% end %>
    </td>
  <% end %>
</tr>
