<% provide :title, t(".manage_user") %>
<div class="content-wrapper">
  <div class="panel panel-primary filterable">
    <div class="panel-heading">
      <h3 class="panel-title"> <%= t ".manage_user" %></h3>
    </div>
<br><br>
    <div class="row">
      <div class="col-md-4" id="paginator">
        <%= paginate @users, remote: true, theme: "twitter-bootstrap-4" %>
        <%#= pagy_bootstrap_nav(@pagy) %>
      </div>
      <div class="col-md-4 text-right">
        <%= search_form_for [:supervisor, @q], class:"form-inline" do |f| %>
          <%= f.search_field :name_cont, id:"search", class:"form-control mr-sm-2" %>
          <%= f.submit "Search", class:"btn btn-outline-info my-2 my-sm-0" %>
        <% end %>
      </div>
      <div class="col-md-4 text-right new-object">
        <%= link_to new_supervisor_user_path, class: "btn btn-primary" do %>
          <i class="fa fa-plus"></i>&nbsp;<%= t ".create_trainee" %>
        <% end %>
      </div>
    </div>
    <table class="table table-responsive-xl table-hover" id="myTableadmin">
      <thead>
        <tr class="filters">
          <th>#</th>
          <th><input type="text" class="form-control"
            placeholder="<%= t '.name' %>"></th>
          <th><input type="text" class="form-control"
            placeholder="<%= t '.email' %>"></th>
          <th><input type="text" class="form-control"
            placeholder="<%= t '.address' %>"></th>
          <th><input type="text" class="form-control"
            placeholder="<%= t '.phone' %>"></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="users">
        <%= render "user" %>
      </tbody>
    </table>
  </div>
</div>
