<% provide :title, t(".create_trainee") %>
<h3><%= t(".create_trainee") %></h3>
<div class="content-wrapper">
  <div class="row">
    <div class="login-form col-md-4 offset-md-4">
      <%= form_for [:supervisor, @user] do |f| %>
        <div class="field form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: t(".email"),
            class:"form-control" %>
          <div align="right" class="error-messages-devise" >
            <%= @user.errors.full_messages_for(:email).first %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, autocomplete: t(".name"),
            class:"form-control"  %>
          <div align="right" class="error-messages-devise" >
            <%= @user.errors.full_messages_for(:name).first %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
          <div align="right" class="error-messages-devise" >
            <%= @user.errors.full_messages_for(:password).first %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
          <div align="right" class="error-messages-devise" >
            <%= @user.errors.full_messages_for(:password_confirmation).first %>
          </div>
        </div>

        <div class="actions form-group">
          <%= f.submit t(".create_trainee"), class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
