<div class="content-wrapper">
  <strong><%= @course.name %></strong> <%= training_time(@course) %>
</div>
<br><br><br>
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-3">
      <% @course.subjects.each_with_index do |subject, index| %>
        <strong><%= index + 1 %>:&nbsp;<%= subject.name %></strong>
          <ol>
            <% subject.tasks.each do |task| %>
              <li>
                <%= link_to task.name, trainee_task_path(task.id)%>
              </li>
            <% end %>
          </ol>
        <% end %>
    </div>
    <div class="col-md-9">
    </div>
  </div>
</div>
