<div class="form-group">
  <%= f.label :name, t(".name_task"), class:"required" %>
  <%= f.text_field :name, class: "form-group form-control", required: true %>
  <div align="right" class="error-messages-devise" >
    <%= @task.errors.full_messages_for(:name).first %>
  </div>
</div>

<div class="form-group">
  <%= f.label :content, t(".content_task"), class:"required" %>
  <%= f.cktext_area :content, class: "form-group form-control", required: true %>
  <div align="right" class="error-messages-devise" >
    <%= @task.errors.full_messages_for(:content).first %>
  </div>
</div>

<div class="form-group">
  <%= f.label :video, t(".video") %><br>
  <%= f.hidden_field :video_cache %>
  <%= f.file_field :video, accept: "video/mp4,video/mkv,video/avi" %>
</div>
