<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <h4><%= t ".subject_detail" %></h4>
    </div>
    <div class="row col-md-6">
      <div class="col-md-12">
        <h3><%= t ".subject" %></h3>
      </div>
      <div class="col-md-12">
        <p><%= @subject.name %></p>
        <p><%= @subject.description %></p>
      </div>
    </div>
    <div class="row col-md-6">
      <div class="col-md-12">
        <h3><%= t ".task" %></h3>
      </div>
      <div class="col-md-12">
        <% @subject.tasks.each_with_index do |task, index| %>
          <p><%= index + 1 %>:&nbsp;<%= task.name %></p>
          <p><%= task.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
