<div class="content-wrapper">
  <div class="row justify-content-center search-form">
    <%= search_form_for @q do |f| %>
      <div class="inner-form">
        <div class="input-field first-wrap">
          <%= f.search_field :name_cont, id:"search", placeholder:"What are you looking for?" %>
        </div>
        <div class="input-field third-wrap">
          <%= f.submit "Search", class:"btn-search" %>
        </div>
      </div>
    <% end %>
  </div>
  <br><br>
  <div id="courses">
    <%= render "courses/course" %>
  </div>
  <div class="d-flex justify-content-center" id="paginator">
    <%= paginate @courses, theme: "twitter-bootstrap-4", remote: true %>
  </div>
</div>
