<p><%= t ".hello", email: @resource.email %></p>
<p><%= t ".p1" %></p>
<p><%= link_to t(".change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t ".p2" %></p>
<p><%= t ".p3" %></p>
