<%= form_for @test, url: user_test_path(current_user) do |f| %>
  <ol>
    <%= f.fields_for :results, method: :put do |result_builder| %>
			<li class="list_question">
			  <b><%= result_builder.object.question.content %></b>
		  </li>
		  <%= render "answer", result_builder: result_builder %>
		<% end %>
  </ol>
  <%= f.hidden_field :status, value: :done %>
  <%= f.submit t(".submit"), class: "btn btn-info", data: { confirm: t(".confirm") } %>
<% end %>
