<div class="content-wrapper">
  <table class="table tests-table">
    <thead>
      <tr class="d-flex">
        <th class="col-4"><%= t "tests.index.title" %></th>
        <th class="col-3"><%= t "tests.index.date" %></th>
        <th class="col-2"><%= t "tests.index.score" %></th>
        <th class="col-1"><%= t "tests.index.status" %></th>
        <th colspan="3" class="col-2"><%= t "tests.index.action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @tests.each do |test| %>
        <tr class="d-flex">
          <td class="col-4"><%= test.exam.title %></td>
          <td class="col-3"><%= l test.updated_at, format: :time_test %></td>
          <td class="col-2"><%= test.score %> (<%= test.correct_answer_of_user %>/<%= test.correct_answer_of_test %>)
          </td>
          <td class="col-1"><%= test.status %></td>
          <% if test.status == t("tests.waitting") %>
            <td class="col-2"><%= link_to t("tests.do_test"),  user_test_path(current_user, test), data: { confirm: "Are you ready to take the exam?" } %></td>
          <% else %>
            <td class="col-2"><%= link_to t("tests.view"),  user_test_path(current_user, test) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-6" id="paginator">
      <%= paginate @tests, theme: "twitter-bootstrap-4" %>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <br>
</div>
