<% provide :title, t(".title", title: @test.exam.title) %>

<div class="content-wrapper">
  <% if @test.status == t("tests.waitting") %>
  <p align="center">
    <h1><br><%= @test.exam.title %></h1></br>
  </p>

  <p>
    <%= render "test" %>
  </p>

  <% else %>
    <p>
      <strong><%= t ".date" %></strong>
      <%= l @test.updated_at, format: :time_test %>
    </p>
    <p>
      <strong><%= t ".score" %></strong> <%= @test.score %> (<%= @test.correct_answer_of_user %>/<%= @test.correct_answer_of_test %>)
    </p>

    <div>
      <ol type="1" id="questions">
        <%= render @questions, test: @test %>
      </ol>
      <div class="row">
        <div class="col-md-6" id="paginator">
          <%= paginate @questions, remote: true, theme: "twitter-bootstrap-4" %>
        </div>
        <div class="col-md-6">
         <%= link_to t(".back"), exam_details_path(@test.exam), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
