<% provide :title, t(".title", title: @test.exam.title) %>

<div class="content-wrapper">
  <% if @test.status == t("tests.waitting") %>
    <p align="center">
      <h2><%= t ".title", title: @test.exam.title %></h2>
    </p>

    <p>
      <%= render "test" %>
    </p>

  <% else %>
    <p>
      <strong><%= t ".date" %></strong>
      <%= l @test.updated_at, format: :time_test %>
    </p>
    <p>
      <strong><%= t ".score" %></strong> <%= @test.score %> (<%= @test.correct_answer_of_user %>/<%= @test.exam.number_question %>)
    </p>

    <div>
      <ol type="1" id="questions">
        <%= render @questions, test: @test %>
      </ol>
      <div class="row">
        <div class="col-md-6">
         <%= link_to t(".back"), exam_details_path(@test.exam), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
