<footer class="page-footer font-small unique-color-dark">
  <div class="text-center mt-5">
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-uppercase font-weight-bold"><%= t ".products" %></h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p><%= t ".link" %></p>
        <p><%= t ".link" %></p>
        <p><%= t ".link" %></p>
        <p><%= t ".link" %></p>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase font-weight-bold"><%= t ".useful_link" %></h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p><%= t ".link" %></p>
        <p><%= t ".link" %></p>
        <p><%= t ".link" %></p>
        <p><%= t ".link" %></p>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase font-weight-bold"><%= t ".contact" %></h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p><i class="fa fa-home mr-3"></i> <%= t ".address" %></p>
        <p><i class="fa fa-envelope mr-3"></i> <%= t ".email" %></p>
        <p><i class="fa fa-phone mr-3"></i> <%= t ".tel" %></p>
        <p><i class="fa fa-print mr-3"></i> <%= t ".fax" %></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    <%= t ".copyright" %>
  </div>
</footer>
