<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="content-nav">
    <%= link_to t(".logo"), root_path, class:"navbar-brand" %>
    <div class="session_nav_content content-nav-left" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-2 active">
          <%= link_to home_path, class:"nav-link" do %>
            <i class="fa fa-home"></i>&nbsp;<%= t ".home" %>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <% if current_user.supervisor? %>
            <li class="nav-item mx-2">
              <%= link_to supervisor_users_path, class:"nav-link" do %>
                <i class="fa fa-user"></i>&nbsp;<%= t ".manage_user" %>
              <% end %>
            </li>
            <li class="nav-item mx-2">
              <%= link_to supervisor_supervisors_path, class:"nav-link" do %>
                <i class="fa fa-users"></i>&nbsp;<%= t ".supervisors" %>
              <% end %>
            </li>
            <li class="nav-item mx-2">
              <%= link_to supervisor_courses_path, class:"nav-link" do %>
                <i class="fa fa-graduation-cap"></i>&nbsp;<%= t ".catalog" %>
              <% end %>
            </li>
            <li class="nav-item mx-2">
              <%= link_to supervisor_reports_path, class:"nav-link" do %>
              <i class="fa fa-list-alt"></i>&nbsp;<%= t ".daily_report" %>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item mx-2">
              <%= link_to t(".mycourse"), trainee_courses_path, class:"nav-link" %>
            </li>
            <%= link_to trainee_members_path, class:"nav-link" do %>
              <i class="fa fa-users"></i>&nbsp;<%= t ".all_members" %>
            <% end %>
            <li class="nav-item mx-2">
              <%= link_to trainee_reports_path, class:"nav-link" do %>
              <i class="fa fa-list-alt"></i>&nbsp;<%= t ".daily_report" %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="session_nav_content content-nav-right">
      <ul class="navbar-nav">
        <% unless user_signed_in? %>
          <li class="nav-item mx-2">
            <%= link_to new_user_session_path, class:"nav-link" do %>
              <i class="fa fa-sign-in"></i>&nbsp;<%= t ".login" %>
            <% end %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item mx-2">
            <%= link_to "#", class:"nav-link" do %>
              <i class="fa fa-bell" data-toogle="tooltip" title="<%= t '.notification' %>"></i>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              <%= image_tag get_avatar(current_user), class:"avatar_header", alt: t(".avatar") %>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <% if current_user.supervisor? %>
                <%= link_to supervisor_user_path(current_user.id), class: "dropdown-item" do %><%= t ".profile" %>
                <% end %>
              <% else %>
                <%= link_to trainee_user_path(current_user.id), class: "dropdown-item" do %><%= t ".profile" %>
                <% end %>
              <% end %>
              <%= link_to t(".change_profile"), edit_user_registration_path, class:"dropdown-item" %>
              <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do %>
                <%= t ".logout" %>&nbsp;<i class="fa fa-sign-out"></i>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
